.App {
  width: 100vw; height: 100vh; background-color: rgba(147, 242, 210, 0.816);
}

.eshop{ width: 100vw; height: 100vh;
  display: grid; grid-template-rows:10% auto 10% ; color: white; 
}

@media (orientation:landscape) and (min-width:200px) and (max-width:500px)
{
  .eshop{width: 100vw; height: 100vw;}

}
@media  screen and (max-width:768px) {
  
  .App{background-color: rgba(252, 177, 255, 0.905);}
}